/* Palette de couleurs */
:root {
    --dark-purple: linear-gradient( #6d00b0, #b06bdc);
    --clair-purple: #c267ff;
    --medium-purple: #8A2BE2;
    --light-purple: #e6d1f2;
    --accent-pink: #FF69B4;
    --white: #FFFFFF;   
    --light-gray: #F0F0F0;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: var(--light-purple);
}

html {
    scrollbar-width: thin; /* Réduit la taille de la scrollbar */
    scrollbar-color: var(--medium-purple) transparent; /* Couleurs */
}

html::-webkit-scrollbar {
    width: 0.5em; /* Largeur de la scrollbar */
}

html::-webkit-scrollbar-thumb {
    background-color: var(--medium-purple); /* Couleur de la barre de défilement */
    border: 1em solid transparent; /* Espacement autour du thumb */
    border-radius: 2em; /* Coins arrondis */
    position: relative; /* Permet de styliser correctement */
}

.body {
    background-color: var(--light-purple);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    overflow-x: hidden;
}

.lienAccueil {
    text-decoration: none;
    
}



.header {
    overflow: visible;
    position: relative;
    margin: 0;

    background: var(--dark-purple); /* Utilisation du dégradé */
    color: var(--white);
    font-size: 0.8em;
    height: 7em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.barreMenu {
    overflow: visible;
    position: relative;

    color: var(--medium-purple);
    padding: 0.1em;
    text-align: center;
    width: 100%;
    height: 4em;
}

.menuListe {    
    position: relative;
    list-style-type: none;
    margin: -0.1em;
    left: 0.5em;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.imgMenu {
    background-image: url('../images/menu-deroulant.png');
    width: 4em;
    height: 4em;
    margin-right: 0.5em;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.titreLudorama {
    position: relative;
    margin-top: 0.4em;

    background: transparent;
    color: var(--white);
    height: 3em;
}

.barreRecherche {
    position: relative;
    margin-top: 1.2em;
    margin-left: 2em;
    height: 2em;
    width: 80em;

    border: 2px solid var(--light-gray); 
    border-radius: 2em;
    background-color: var(--light-gray);
    display: flex;
    color: var(--medium-purple);
    padding: 0.1em;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.barreRecherche:focus {
    outline: none; 
    border-color: var(--light-gray); 
}

.imgLoc {
    background-image: url('../images/location.png');
    margin-top: 0.8em;
    margin-left: 0.8em;

    width: 3em;
    height: 3em;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.imgPanier {
    background-image: url('../images/panier.png');
    margin-top: 1em;
    margin-left: 1em;

    width: 2.5em;
    height: 2.5em;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.imgCompte {
    background-image: url('../images/user.png');
    margin-top: 1em;
    margin-left: 1.5em;

    width: 3em;
    height: 3em;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}


/* test menu déroulant*/
.categories {
    overflow-y: auto; /* Active un défilement uniquement si nécessaire */
    position: absolute; /* Positionne par rapport à l'élément parent */
    top: 4em; /* Ajuste en fonction de ton design */
    left: 0;
    background-color: var(--clair-purple);
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid var(--light-gray);
    border-radius: 5px;
    width: 10em;
    max-height: 20em; /* Limite la hauteur pour éviter un débordement excessif */
    z-index: 1000;
    display: none; /* Caché par défaut */
}

.categories.visible {
    display: block; /* Affiche tous les enfants */
}

.categories li {
    z-index: 1000;
    padding: 0.5em;
    text-align: left;
    white-space: nowrap; /* Empêche le texte de se couper */
    transition: background 0.3s;
}

.categories li a {
    text-decoration: none;
    color: var(--light-purple);
    font-size: 1.2em;
    display: block;
}

.categories li:hover {
    background-color: var(--medium-purple);
    transition: background 0.3s;
}





/* Pied de page */
.footer {
    display: flex;
    justify-content: space-around;
    background: var(--dark-purple);
    color: var(--white);
    padding: 20px;
    border-top: 5px solid var(--medium-purple);
    position: relative;
    width: 100%;
}

.footer-column h3 {
    border-bottom: 1px solid var(--white);
    padding-bottom: 5px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column li {
    margin: 5px 0;
}

.footer-column a {
    color: var(--white);
    text-decoration: none;
}

.footer-column a:hover {
    text-decoration: underline;
}