/* Palette de couleurs */
:root {
    --dark-purple: linear-gradient( #6d00b0, #b06bdc);
    --clair-purple: #c267ff;
    --medium-purple: #8A2BE2;
    --light-purple: #e6d1f2;
    --accent-pink: #FF69B4;
    --backpurple: #d3bce6;
    --white: #FFFFFF;   
    --light-gray: #F0F0F0;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: var(--light-purple);
}

html {
    scrollbar-width: thin; /* Réduit la taille de la scrollbar */
    scrollbar-color: var(--medium-purple) transparent; /* Couleurs */
}

html::-webkit-scrollbar {
    width: 0.5em; /* Largeur de la scrollbar */
}

html::-webkit-scrollbar-thumb {
    background-color: var(--medium-purple); /* Couleur de la barre de défilement */
    border: 1em solid transparent; /* Espacement autour du thumb */
    border-radius: 2em; /* Coins arrondis */
    position: relative; /* Permet de styliser correctement */
}

.body {
    background-color: var(--light-purple);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    overflow-x: hidden;
}

.lienAccueil {
    text-decoration: none;
    
}



/* Gestion des erreurs */

.error {
    color: #fff;
    background-color: #e74c3c;
    padding: 10px;
    border-radius: 1em;
}



.header {
    overflow: visible;
    position: relative;
    margin: 0;

    background: var(--dark-purple); /* Utilisation du dégradé */
    color: var(--white);
    font-size: 0.8em;
    height: 7em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.barreMenu {
    overflow: visible;
    position: relative;

    color: var(--medium-purple);
    padding: 0.1em;
    text-align: center;
    width: 100%;
    height: 4em;
}

.menuListe {    
    position: relative;
    list-style-type: none;
    margin: -0.1em;
    left: 0.5em;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.imgMenu {
    background-image: url('../images/menu-deroulant.png');
    width: 4em;
    height: 4em;
    margin-right: 0.5em;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.titreLudorama {
    position: relative;
    margin-top: 0.4em;

    background: transparent;
    color: var(--white);
    height: 3em;
}

.barreRecherche {
    position: relative;
    margin-top: 1.2em;
    margin-left: 2em;
    height: 2em;
    width: 80em;

    border: 2px solid var(--light-gray); 
    border-radius: 2em;
    background-color: var(--light-gray);
    display: flex;
    color: var(--medium-purple);
    padding: 0.1em;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.barreRecherche:focus {
    outline: none; 
    border-color: var(--light-gray); 
}

.imgLoc {
    background-image: url('../images/location.png');
    margin-top: 0.8em;
    margin-left: 0.8em;

    width: 3em;
    height: 3em;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.imgPanier {
    background-image: url('../images/panier.png');
    margin-top: 1em;
    margin-left: 1em;

    width: 3em;
    height: 3em;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.imgCompte {
    background-image: url('../images/user.png');
    margin-top: 1em;
    margin-left: 1.5em;

    width: 3em;
    height: 3em;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}


.burger {
    position: relative;
    width: 3.2em;
    height: 2.5em;
    background: transparent;
    cursor: pointer;
    display: block;
    top: 0.6em;
    margin-right: 0.5em;
}

.burger input {
    display: none;
}

.burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: var(--white);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
}

.burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
}

.burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
}

/* Par défaut, le menu est caché */
.categories {
    overflow-y: auto;
    position: relative;
    top: 5em;
    left: -0.5em;
    background-color: var(--clair-purple);
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100vw;
    max-height: 20em;
    z-index: 1000;
    display: none; /* Cacher le menu par défaut */
    justify-content: flex-start; /* Alignement des éléments en ligne */
}

.burger input:checked ~ .categories {
    display: flex; /* Afficher le menu lorsque le checkbox est coché */
}

.categories ul {
    list-style-type: none;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex; /* Afficher les éléments en ligne */
}

.categories li {
    position: relative;
    height: auto;
    width: 10em;
    padding: 0.5em;
    text-align: left;
    transition: background 0.3s;
}

.categories li a {
    text-decoration: none;
    color: var(--light-purple);
    font-size: 1.2em;
    display: block;
}

.categories li:hover {
    background-color: var(--medium-purple);
    transition: background 0.3s;
    height: 15em;
}



/* Pied de page */
.footer {
    display: flex;
    justify-content: space-around;
    background: var(--dark-purple);
    color: var(--white);
    padding: 20px;
    border-top: 5px solid var(--medium-purple);
    position: relative;
    width: 100%;
}

.footer-column h3 {
    border-bottom: 1px solid var(--white);
    padding-bottom: 5px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column li {
    margin: 5px 0;
}

.footer-column a {
    color: var(--white);
    text-decoration: none;
}

.footer-column a:hover {
    text-decoration: underline;
}