/* Palette de couleurs */
:root {
    --dark-purple: linear-gradient(#6d00b0, #b06bdc);
    --dark-purple-inverse: linear-gradient(#b06bdc, #6d00b0);
    --clair-purple: #c267ff;
    --medium-purple: #8A2BE2;
    --light-purple: #e6d1f2;
    --accent-pink: #FF69B4;
    --backpurple: #d3bce6;
    --white: #FFFFFF;
    --light-gray: #F0F0F0;
}

.containerCategPere {
    display: flex;
    flex-direction: column; /* Change to column layout */
    flex-wrap: wrap; /* Prevent wrapping */
    justify-content: flex-start; /* Align items to the start */
    align-items: center; /* Center items horizontally */
    width: 100%;
    height: auto;
    min-height: 63.8vh; /* Set minimum height to the viewport height */
}


.filtres {
    position: fixed;
    margin-top: 2em;
    left: 1%;
    height: 22em;
    width: 10em;
    text-align: center;
    background-color: var(--backpurple);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1%;
    z-index: 1000;
}

.filtres h1 {
    position: relative;
    color: var(--text-dark);
    font-size: 1.5em;
    top: -5%;
}


.filtreSection label {
    display: block;
    font-weight: bold;
    color: var(--text-dark);
    margin-bottom: 0.5em;
}

.filtreSection input,
.filtreSection select {
    width: 100%;
    padding: 0.5em;
    border: 1px solid var(--light-gray);
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 0.5em;
}

.filtreSection input[type="number"] {
    -moz-appearance: textfield;
}

.filtreSection input[type="number"]::-webkit-outer-spin-button,
.filtreSection input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button[type="submit"] {
    background-color: var(--medium-purple);
    color: var(--white);
    border: none;
    border-radius: 5px;
    padding: 0.5em 1em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button[type="submit"]:hover {
    background-color: var(--dark-purple);
    transform: scale(1.05);
}

.containerProduit {
    position: relative;
    left: 5%;
    width: 80em;
    height: 80em;
    height: auto;
}

.sousCategorieContainer {
    position: relative;
    margin-top: 0.5em;
    margin-left: 4em;
    margin-bottom:0%;
    padding: 0.1em;
    height: auto;
    width: 77em;
}

.sousCategorieContainer ul {
    position: relative;
    width: 100%;
    list-style-type: none;
    margin-left: 1em;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Permet le retour à la ligne */
    justify-content: flex-start; /* Aligne les éléments au début */
    align-items: flex-start; /* Aligne les éléments verticalement au début */
}

.sousCategorieContainer ul {
    position: relative;
    width: 100%;
    list-style-type: none;
    margin-left: 1em;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.sousCategorieContainer ul li {
    position: relative;
    width: 15em;
    margin: 0.5em;
    padding: 0.5em;
    background-color: var(--white);
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: var(--shadow);
}

.sousCategorieContainer ul li:hover {
    transform: scale(1.05);
}

.sousCategorieContainer ul li img {
    width: 10em;
    height: 10em;
}

.sousCategorieContainer ul li p {
    font-size: 1em;
    text-align: center;
}

.containerCategPere a {
    text-decoration: none;
    color: var(--medium-purple);
    font-weight: bold;
    transition: color 0.3s;
}