* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

:root {
    --dark-purple: linear-gradient(#6d00b0, #b06bdc);
    --medium-purple: #8A2BE2;
    --light-purple: #e6d1f2;
    --accent-pink: #FF69B4;
    --white: #FFFFFF;
    --light-gray: #F0F0F0;
}

html, body {
    background-color: var(--light-gray);
    font-family: 'Roboto', sans-serif;
    color: #333;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1; 
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--backpurple);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.commande-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.produits, .payment-section {
    flex: 1;
    background-color: var(--light-purple);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}

.produits {
    margin-right: 20px;
}

.product {
    display: flex;
    margin-bottom: 20px;
}

.product img {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.productDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.productDetails h3 {
    font-size: 18px;
    color: var(--medium-purple);
    margin-bottom: 10px;
}

.productDetails p {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

.payment-section h2 {
    font-size: 24px;
    color: var(--medium-purple);
    margin-bottom: 20px;
}

.payment-method {
    margin-bottom: 20px;
    display: flex; /* Aligne les éléments en ligne */
    align-items: center; /* Aligne les éléments verticalement */
    justify-content: flex-start; /* Aligne les éléments à gauche */
}

.payment-method input[type="radio"] {
    margin-left: 10px; /* Ajoute un espace entre le texte et le bouton radio */
    accent-color: var(--medium-purple); /* Couleur personnalisée */
    width: 20px; /* Taille du bouton */
    height: 20px; /* Taille du bouton */
    cursor: pointer; /* Affiche le curseur pointeur sur le bouton */
}

.payment-method label {
    font-size: 14px;
    color: #333;
    margin: 0; /* Assure une bonne alignement */
    flex-grow: 1; /* Permet au texte de prendre tout l'espace disponible si nécessaire */
}

.payment-method label span {
    display: inline-block;
    margin-left: 5px; /* Optionnel : ajuste l'espace entre le texte et la partie spécifique */
    font-size: 14px;
    color: var(--medium-purple);
}

.payment-method input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.btn.validate {
    background-color: var(--medium-purple);
    color: var(--white);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn.validate:hover {
    background-color: var(--accent-pink);
}