/* Variables globales */
:root {
    --dark-purple: #6d00b0;
    --clair-purple: rgba(109, 0, 176, 0.15);
    --medium-purple: #8A2BE2;
    --light-purple: #f8f5fb;
    --accent-pink: #FF69B4;
    --white: #FFFFFF;   
    --backpurple: #d3bce6;
    --light-gray: #F0F0F0;
    --text-dark: #2c3e50;
    --shadow: 0 4px 6px rgba(109, 0, 176, 0.1);
}

.filtres {
    position: fixed;
    margin-top: 2em;
    left: 2%;
    height: 15em;
    width: 10em;
    text-align: center;
    background-color: var(--backpurple);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1%;
    z-index: 1000;
}

.filtres h1 {
    position: relative;
    color: var(--text-dark);
    font-size: 1.5em;
    margin-bottom: 1em;
    top: -5%;
}

.listFiltres {
    position: relative;
    list-style-type: none;
    margin-top: -1em;
    padding: 0;
}

.listFiltres li {
    margin: 10px 0;
    padding: 10px;
    background-color: var(--white);
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
}

.listFiltres li:hover {
    background-color: var(--clair-purple);
    transform: scale(1.05);
}

.principale {
    display: flex;
    margin-left: 11em; /* Laisser de la place pour les filtres */
    height: auto;
}

.titreDernierProd {
    font-size: 2em;
    position: relative;
    left: 0%;
    color: var(--medium-purple);
    margin-bottom: 20px;
}

.dernierProdContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 2em;
    background-color: var(--light-purple);
}

.dernierProdContainer ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80em;
    gap: 2em;
}

.dernierProdContainer li {
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: var(--shadow);
    transition: transform 0.3s, background-color 0.3s;
    cursor: pointer;
    text-align: center;
    padding: 1em;
    width: 15em;
}

.dernierProdContainer li:hover {
    transform: scale(1.05);
    background-color: var(--clair-purple);
}

.dernierProdContainer li img {
    width: 11em;
    height: auto;
}

.dernierProdContainer li p {
    margin-top: 1em;
    font-size: 1.2em;
    color: var(--medium-purple);
    font-weight: bold;
}

.dernierProdContainer a {
    text-decoration: none;
    color: inherit;
}
