/* Variables globales */
:root {
    --dark-purple: #6d00b0;
    --clair-purple: rgba(109, 0, 176, 0.15);
    --medium-purple: #8A2BE2;
    --light-purple: #f8f5fb;
    --accent-pink: #FF69B4;
    --white: #FFFFFF;   
    --backpurple: #d3bce6;
    --light-gray: #F0F0F0;
    --text-dark: #2c3e50;
    --shadow: 0 4px 6px rgba(109, 0, 176, 0.1);
}

.body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--light-purple);
    margin: 0;
    padding: 0;
    height: auto;
}

.lienAccueil {
    text-decoration: none;
    color: var(--medium-purple);
    font-weight: bold;
    transition: color 0.3s;
}

.filtres {
    position: fixed;
    margin-top: 2em;
    left: 1%;
    height: 15em;
    width: 10em;
    text-align: center;
    background-color: var(--backpurple);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1%;
    z-index: 1000;
}

.filtres h1 {
    position: relative;
    color: var(--text-dark);
    font-size: 1.5em;
    margin-bottom: 1em;
    top: -5%;
}

.listFiltres {
    position: relative;
    list-style-type: none;
    margin-top: -1em;
    padding: 0;
}

.listFiltres li {
    margin: 10px 0;
    padding: 10px;
    background-color: var(--white);
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
}

.listFiltres li:hover {
    background-color: var(--clair-purple);
    transform: scale(1.05);
}

.principale {
    display: flex;
    margin-left: 11em; /* Laisser de la place pour les filtres */
    height: auto;
}

.ludizone {
    position: relative;
    flex: 1;
    background-color: var(--light-purple);
    left: -5%;
    height: 100vw;
}

.titreLudizone {
    color: var(--medium-purple);
    text-align: center;
    margin-bottom: 20px;
}

.titreCDC, .titreLudiGame, .titreLudiEvent {
    color: var(--medium-purple);
    text-align: left;
    margin-bottom: 20px;
}

/* Section "Coup de coeur" */

.coupDeCoeur {
    position: relative;
    margin-top: 0.5em;
    margin-left: 7em;
    margin-bottom: 7em;
    padding: 0.1em;
    height: 4em;
    width: 90em;
}

.titreCDC {
    position: relative;
    margin-top: 0;
    margin-left: 0;
    padding: 0.1em;
    width: 15em;
    font-size: 1.5em;
    border-bottom: var(--medium-purple) solid 0.15em;
}

.listeCDC {
    position: relative;
    width: 100%;
    list-style-type: none;
    margin-left: 1em;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.listeCDC li {
    position: relative;
    width: 17em;
    height: 18em;
    margin: 0.5em;
    padding: 0.5em;
    background-color: var(--white);
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: var(--shadow);
}

.listeCDC li:hover {
    transform: scale(1.05);
}

.listeCDC li img {
    width: 10em;
    height: 10em;
}

.listeCDC li p {
    font-size: 1em;
    text-align: center;
}

.listeCDC a {
    text-decoration: none;
    color: var(--medium-purple);
    font-weight: bold;
    transition: color 0.3s;
}



/* Section "LudiGame" */
.ludiGames {
    position: relative;
    top: 15%;
    left: 7em;
    padding: 0.1em; 
    width: 90em;
}

.titreLudiGame {
    position: relative;
    margin-top: 0;
    margin-left: 0;
    padding: 0.1em;
    width: 15em;
    font-size: 1.5em;
    border-bottom: var(--medium-purple) solid 0.15em;
}

.imgLudiGame {
    position: relative;
    background-image: url('../images/LudiGame.webp');
    margin-top: 1em;
    margin-left: 1em;
    padding: 0.1em;
    height: 30em;
    width: 50em;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
}



.ludiEvent {
    position: relative;
    margin-top: 15%;
    margin-left: 6em;
    padding: 0.1em;
    height: auto;
    width: 80em;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.ludiEvent::-webkit-scrollbar {
    height: 0.5em;
}

.ludiEvent::-webkit-scrollbar-thumb {
    background-color: var(--medium-purple);
    border: 1em solid transparent;
    border-radius: 2em; 
    position: relative; 
}

.ludiEvent a {
    text-decoration: none;
}

.titreLudiEvent {
    position: relative;
    left: 35%;
    padding: 0.1em;
    width: 6em;
    font-size: 1.5em;
    border-bottom: var(--medium-purple) solid 0.15em;
    justify-content: center;
    align-items: center;
    display: flex;
}

.listeEvent {
    position: relative;
    list-style-type: none;
    margin-top: 0.5em;
    margin-left: 1em;
    padding: 0;
    overflow: hidden;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.Event {
    margin-top: 1em;
    margin-left: 0.5em;
    padding: 0.1em;
    height: 20em;
    width: 20em;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.btnParticipe {
    position: relative;
    margin-top: 0.5em;
    margin-left: 0.5em;
    padding: 0.1em;
    width: 13em;
    font-size: 1em;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-color: var(--medium-purple);
    border: none;
    color: var(--light-gray);
    height: 4em;
    border-radius: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnParticipe:hover {
    background: var(--dark-purple);
    color: var(--accent-pink);
    cursor: pointer;
}

.imgEvent1 {
    background-image: url('../images/Event1.jpg');
    border-radius: 2em;
    margin-top: 1em;
    width: 18em;
    height: 15em;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.imgEvent2 {
    background-image: url('../images/Event2.jpg');
    border-radius: 2em;
    margin-top: 1em;
    width: 18em;
    height: 15em;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.imgEvent3 {
    background-image: url('../images/Event3.png');
    border-radius: 2em;
    margin-top: 1em;
    width: 18em;
    height: 15em;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.imgEvent4 {
    background-image: url('../images/Event4.jpg');
    border-radius: 2em;
    margin-top: 1em;
    width: 18em;
    height: 15em;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.imgEvent5 {
    background-image: url('../images/Event5.jpg');
    border-radius: 2em;
    margin-top: 1em;
    width: 18em;
    height: 15em;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}



/* Section Affichage des produits */
.enfantsProduits {
    position: relative;
    margin-top: 100em;
    left: -110%;
    width: 100%;
    height: 80em;
    height: auto;
}

.enfantsProduits h1 {
    position: relative;
    margin-top: 0;
    margin-left: 0;
    padding: 0.1em;
    width: 15em;
    font-size: 1.5em;
    color: var(--medium-purple);
    border-bottom: var(--medium-purple) solid 0.15em;
}

.enfantsProduits ul {
    position: relative;
    width: 300%;
    list-style-type: none;
    margin-left: 1em;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Permet le retour à la ligne */
    justify-content: flex-start; /* Aligne les éléments au début */
    align-items: flex-start; /* Aligne les éléments verticalement au début */
}

.enfantsProduits ul li {
    position: relative;
    width: 15em;
    margin: 0.5em;
    padding: 0.5em;
    background-color: var(--white);
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: var(--shadow);
}

.enfantsProduits ul li:hover {
    transform: scale(1.05);
}

.enfantsProduits ul li img {
    width: 10em;
    height: 10em;
}

.enfantsProduits ul li p {
    font-size: 1em;
    text-align: center;
}

.enfantsProduits a {
    text-decoration: none;
    color: var(--medium-purple);
    font-weight: bold;
    transition: color 0.3s;
}


/*Les pages de la liste des produits*/

.pagination {
    width: 300%;
    margin-top: 20px;
    margin-bottom: 5%;
}

.page-number {
    display: inline-block;
    margin: 0 5px;
    padding: 10px 15px;
    background-color: var(--white);
    color: var(--medium-purple);
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.page-number:hover {
    background-color: var(--clair-purple);
    color: var(--dark-purple);
}

.page-number.active {
    background-color: var(--medium-purple);
    color: var(--white);
    font-weight: bold;
}