* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

:root {
    --dark-purple: linear-gradient( #6d00b0, #b06bdc);
    --medium-purple: #8A2BE2;
    --light-purple: #e6d1f2;
    --accent-pink: #FF69B4;
    --white: #FFFFFF;
    --light-gray: #F0F0F0;
}

html, body {
    background-color: var(--light-gray);
    font-family: 'Roboto', sans-serif;;
    color: #333;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}


.container {
    flex: 1; 
    display: flex;
    flex-direction: column;
    margin-top: 10em;
}

.nav {
    position: relative;
    top: 4em;
    display: flex;
    justify-content: center;
    background:#b06bdc;
    gap: 28em;
    left: -9em;
}

.tab {
    color: #fff;
    padding: 10px 30px;
    font-weight: bold;
    transition: background 0.3s;
    border-radius: 20px;
}

.tab.active {
    background-color: #5a00a1;
}

.breadcrumb {
    font-size: 14px;
    color: #666;
    margin: 20px;
    text-align: left;
}

.breadcrumb a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}


.cartContainer {
    display: flex;
    gap: 20px;
    max-width: 1200px;
    margin-left: 40px;
}

.productList {
    flex: 3;
    background-color: var(--light-purple);
    padding: 20px;
    border-radius: 10px;
    margin-left: 20px;
}

.productList span{
    flex: 2;
    background-color: var(--light-purple);
    border-radius: 10px;
}

.product {
    display: flex;
    align-items: center;
    background-color: #d3bce6;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.productImage {
    width: 80px;
    height: 80px;
    background-color: #c2c2c2;
    border-radius: 8px;
    margin-right: 20px;
}

.productDetails {
    flex: 1;
    color: #333;
}

.productDetails h3 {
    font-size: 16px;
    margin-bottom: 5px;
}

.productDetails p {
    font-size: 12px;
    color: #666;
    margin: 2px 0;
}

.deliveryIcon {
    font-size: 14px;
    color: #666;
}

.productQuantity {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #d3bce6;
}

.productQuantity button {
    background-color: var(--medium-purple);
    color: #fff;
    border: none;
    width: 30px;
    height: 30px;
    font-size: 18px;
    border-radius: 50%;
    cursor: pointer;
}

.productQuantity button:hover {
    background: var(--dark-purple);
}

.productPrice {
    font-weight: bold;
    font-size: 18px;
    margin-left: 20px;
}

.sidebar {
    flex: 2;
    background-color: #d3bce6;
    padding: 20px;
    border-radius: 10px;
    margin-left: 20px;
}

.sidebar h4 {
    font-size: 16px;
    margin-bottom: 5px;
}

.sidebar p {
    font-size: 12px;
    color: #666;
    margin-bottom: 20px;
}

.priceSummary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.btn {
    background-color: var(--medium-purple);
    color: #fff;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}



.subtotal {
    background-color: #a1d699;
    font-size: 14px;
    width: 60%;
    text-align: center;
}

.btn.btn.subtotal:hover {
    background-color: #56b447;
}

.storePickup {
    background-color: #d9d9d9;
    color: #333;
}


.btn.validate:hover {
    background-color: #f89203;
}

.btn.retrait:hover{  
    background: var(--dark-purple);
}

.price {
    font-size: 18px;
    font-weight: bold;
}

.paymentSecurity {
    text-align: center;
    margin-top: 20px;
}

.paymentIcons img {
    width: 30px;
    margin: 0 5px;
}

.footer {
    background-color: #e6d1f2;
    padding: 10px;
    text-align: center;
    font-size: 12px;
    color: #666;
    
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}

.breadcrumb span {
    margin-right: 10px;
}

.productDetails {
    color: #333;
    position: relative;
    flex : 1;
    margin-left: 50px;
}

.productImage {
    position: relative;
    background-color: #c2c2c2;
    border-radius: 8px;
    margin-right: 20px;
    display: flex;
}

.productQuantity {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn.validate {
    margin-top: 15px;
    background-color: #f5a623;
}

.priceSummary .btn.subtotal {
    background-color: #a1d699;
    color: #333;
    width: 100px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
}

.priceSummary .price {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.sidebar .btn.storePickup {
    background-color: #d9d9d9;
    color: #333;
}

.sidebar .priceSummary .price {
    font-size: 18px;
    font-weight: bold;
}

.sidebar h4 {
    font-size: 18px;
    margin-bottom: 5px;
}

.sidebar .btn {
    margin-top: 10px;
    padding: 10px;
}

.cartHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    position: relative;
}

.cartTitle {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
    flex: 1;
    display: flex;
    justify-content: center;
    position: relative;
}

.cartTitle::before,
.cartTitle::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 200px;
    height: 2px;
    background-color: #999;
}

.cartTitle::before {
    margin-right: 300px;
}

.cartTitle::after {
    margin-left: 300px;
}

.clearCartButton {
    background-color: var(--medium-purple);
    color: #fff;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-left: auto; 
}

.clearCartButton:hover {
    background: var(--dark-purple);
}

@media (max-width: 1024px) {
    .header {
        font-size: 20px;
        padding: 15px 10px;
    }

    .nav {
        gap: 100px; 
    }

    .cartTitle {
        font-size: 20px; 
    }

    .cartTitle::before,
    .cartTitle::after {
        width: 150px;
    }

    .cartContainer {
        gap: 15px; 
    }

    .productList, .sidebar {
        padding: 15px;
    }

    .sidebar .btn {
        padding: 8px;
        font-size: 14px; 
    }
}

@media (max-width: 768px) {
    .header {
        font-size: 18px;
        padding: 10px;
    }

    .nav {
        gap: 20px; 
        flex-wrap: wrap; 
        justify-content: center; 
    }

    .tab {
        padding: 8px 20px; 
        font-size: 14px; 
    }

    .cartTitle {
        font-size: 18px;
    }

    .cartTitle::before,
    .cartTitle::after {
        width: 100px; 
    }

    .cartContainer {
        flex-direction: column; 
        gap: 20px;
    }

    .productList, .sidebar {
        width: 100%; 
        margin-left: 0; 
    }

    .btn {
        font-size: 14px; 
        padding: 8px 10px;
    }
}

@media (max-width: 480px) {
    .header {
        font-size: 16px;
        padding: 8px;
    }

    .nav {
        gap: 10px;
        flex-wrap: wrap; 
        justify-content: center; 
    }

    .tab {
        padding: 6px 15px; 
        font-size: 12px; 
    }

    .cartTitle {
        font-size: 16px;
    }

    .cartTitle::before,
    .cartTitle::after {
        width: 50px; 
    }

    .cartContainer {
        flex-direction: column; 
        gap: 15px;
    }

    .productList, .sidebar {
        padding: 10px; 
    }

    .btn {
        font-size: 12px;
        padding: 6px 8px; 
    }
}
