/* Palette de couleurs */
:root {
    --dark-purple: linear-gradient(#6d00b0, #b06bdc);
    --clair-purple: #c267ff;
    --medium-purple: #8A2BE2;
    --light-purple: #e6d1f2;
    --accent-pink: #FF69B4;
    --white: #FFFFFF;
    --light-gray: #F0F0F0;
}

.imgLoc {
    margin-left: 50em;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2em;
}

.titrePanier {
    position: relative;
    font-size: 2em;
    font-weight: bold;
    left: 0%;
}

.contenuPanier {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
    background-color: var(--clair-purple);
    width: 40em;
    height: 30em;
    left: -28em;
    border-radius: 2em;
    margin-top: 5em;
}

.produits {
    position: relative;
    width: 40em;
    height: 30em;
    border-radius: 2em;
    color: var(--medium-purple);
}

.produits ul {
    list-style-type: none;  
    margin-top: 1em;
}

.produits ul li {
    background-color: var(--light-purple);
    border-radius: 2em;
    width: 35em;
    margin-top: 1em;
    margin-left: -1em;
}

.produits ul h3 {
    position: relative;
    top: 0.5em;
    margin-left: 1em;
    font-size: 1.5em;
    font-weight: bold;
}

.produits ul p {
    position: relative;
    top: 0em;
    margin-left: 1.5em;
    font-size: 1em;
}

.produits img {
    border-radius: 2em;
    width: 18em;
    height: 10em;
    margin-left: 1em;
}

.checkboxPanier {
    position: relative;
    top: -7em;
    left: 27em;
}

.checkboxPanier input {
    position: relative;
    top: 2.5em;
    left: -4em;
    width: 1.5em;
    height: 1.5em;
    border-radius: 3em;
}

.checkboxPanier input:hover {
    cursor: pointer;
    box-shadow: 0 0 0.5em var(--medium-purple);
}


.sidebar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    left: -10em;
    background-color: var(--clair-purple);
    border-radius: 2em;
    width: 23em;
    height: 30em;
}

.resumePanier {
    position: relative;
    background-color: var(--light-purple);
    width: 20em;
    height: 22em;
    border-radius: 2em;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -4em;
    color: var(--medium-purple);
}

.resumePanier h4 {
    position: relative;
    top: -0.5em;
    left: 15%;
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 1em;
}

.sousTotal {
    position: relative;
    top: -1em;
    left: 25%;
    font-size: 1.2em;
    margin-left: 1em;
}

.sousTotal p {
    position: relative;
    top: 0.5em;
    margin-left: 1em;
    font-size: 1em;
}

.livraison {
    position: relative;
    top: 0em;
    left: 25%;
    font-size: 1.2em;
    margin-left: 1em;
}

.livraison p {
    position: relative;
    top: 0.5em;
    margin-left: 1em;
    font-size: 1em;
}

.total {
    position: relative;
    top: 0.5em;
    left: 25%;
    font-size: 1.2em;
    margin-left: 1em;
}

.total p {
    position: relative;
    top: 0.5em;
    margin-left: 1em;
    font-size: 1em;
}

.btnPaiement {
    position: relative;
    top: 2em;
    margin-left: 1em;
    width: 15em;
    height: 2em;
    background-color: var(--light-gray);
    border-radius: 2em;
    color: var(--clair-purple);
    border: none;
    font-size: 1.2em;
    font-weight: bold;
    transition: background 0.3s;
}

.btnPaiement:hover {
    cursor: pointer;
    background-color: var(--medium-purple);
    color: var(--light-gray);
    transition: background 0.3s;
}





.footer {
    top: 10em;
}

