.recherche-main {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.recherche-filtres {
    width: 20%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.recherche-resultats {
    width: 75%;
}

.produits-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.produit-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.produit-item img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.en-stock {
    color: green;
    font-weight: bold;
}

.rupture-stock {
    color: red;
    font-weight: bold;
}
