

/* Container principal pour la mise à jour des infos */
.container-update {
    position: relative;
    left: 25%;
    background-color: var(--light-purple);
    padding: 2.5em;
    width: 35em;
    max-width: 500px;
    border-radius: 2em;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    text-align: center;
    position: relative;
    margin: 2em;
}

/* Titre */
h2 {
    position: relative;
    color: var(--medium-purple);
    font-size: 2.5em;
    margin-bottom: 1em;
}

/* Labels pour les champs du formulaire */
.container-update
label {
    display: block;
    font-weight: bold;
    font-size: 1.1em;
    margin-top: 1em;
    color: var(--medium-purple);
}

/* Champs de formulaire (inputs) */
.container-update 
input[type="text"],
input[type="email"],
input[type="tel"],
button[type="submit"],
button[type="button"] {
    width: 100%;
    padding: 0.9em;
    margin-bottom: 1.5em;
    border: 1px solid var(--light-gray);
    border-radius: 1.5em;
    box-sizing: border-box;
    font-size: 1.1em;
}

/* Champs focus */
.container-update
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
    border-color: var(--clair-purple);
    outline: none;
}

/* Bouton de soumission (Modifier) */
.container-update
button[type="submit"] {
    border: 2px solid var(--light-gray);
    color: var(--medium-purple);
    border-radius: 2em;
    background-color: var(--light-gray);
    font-weight: bold;
    border: none;
    transition: background 0.3s;
}

/* Bouton Modifier hover */
.container-update
button[type="submit"]:hover {
    background: var(--clair-purple);
    transition: background 0.3s;
    cursor: pointer;
    color: var(--white);
    border-color: var(--clair-purple);
}

/* Bouton Annuler */
.container-update
button[type="button"] {
    background-color: var(--light-gray);
    color: var(--medium-purple);
    font-weight: bold;
    border: none;
    transition: background 0.3s ease;
}

/* Bouton Annuler hover */
.container-update
button[type="button"]:hover {
    background-color: var(--clair-purple);
    color: var(--white);
}

/* Gestion des messages d'erreur */
.container-update
.error-message {
    color: red;
    font-weight: bold;
    padding: 0.5em;
}

/* Alignement des champs */
.container-update
.form-control {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.2em;
}

/* Responsivité */
@media (max-width: 480px) {
    .container-update {
        padding: 1.5em;
        width: 90%;
    }

    .container-update
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    button[type="submit"],
    button[type="button"] {
        font-size: 1em;
    }

    h2 {
        font-size: 2em;
    }
}

